
export login_html_file=$1

function get_line_num(){
    echo $(grep -n "$1" $login_html_file | cut -d':' -f1)
}

# Add error tag into $login_html_file
tag_exist=$(grep  "if .Error"  $login_html_file |wc -l)
if [[ $tag_exist == 0 ]]; then
    base_line=$(get_line_num 'col-sm-7 col-md-6 col-lg-5 login')
    error_tag_insert_line=$(($base_line - 2))
   
    sed -e "${error_tag_insert_line}r  {{temp_dir}}/error_tag.txt" -i $login_html_file
   
#Change essential field values
form_tag_line=$(get_line_num 'class="form-horizontal"')

sed "${form_tag_line},$(($form_tag_line + 2)) d" -i $login_html_file
sed -e "$((${form_tag_line}-1))r  {{temp_dir}}/form_tag.txt"  -i $login_html_file

# Change User/Password field values
username_tag_line=$(get_line_num 'name="username"')
password_tag_line=$(get_line_num 'name="password"')

sed -e "${username_tag_line}s/name=\"username\"/name=\"\{\{ .Names.Username\}\}\"/g" -i $login_html_file
sed -e "${username_tag_line}s/value=\"/value=\"\{\{ .Values.Username \}\}/g"  -i $login_html_file
sed -e "${password_tag_line}s/name=\"password\"/name=\"\{\{ .Names.Password \}\}\"/g"  -i $login_html_file

# Convert new image to base64 unicode and replace it of defualt one.
span_badge_line=$(get_line_num 'span id=\"badge\"') 
img_line=$(( $span_badge_line + 1 ))
img_ext=$(echo {{logo_img}} | awk -F"." '{print $NF}')

base64_img="<img src=\"$(echo "data:image/${img_ext};base64,$(base64 -w 0 {{logo_img}})")\" alt=\"new logo\"/>" 

sed -e "$img_line,1d" -i $login_html_file
sed -e "$img_line i $base64_img" -i $login_html_file
fi
